/*
CSS general
 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    background-color: rgb(244, 244, 244);
}

h1, h2, h3 {
    line-height: 1.1em;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

/*
CSS cabacera
 */
header {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0;
}

.contlogo {
    margin: 0 auto;
    width: 1110px;
}


.superior {
    background-color: white;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: block;
    line-height: 3.0em;
    padding-bottom: 10px;
}

.superior ul {
    width: 1110px;
    margin: 0px auto 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 800;
}

.superior ul li {
    display: inline;
    margin-right: 20px;
}

.superior ul li a {
    color: rgb(0, 0, 0);
}

.superior ul li a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.superior ul li a.actual {
    color: rgb(189, 55, 0);
}

.noplanb {
    display: block;
    line-height: 1.5em;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 1.1em;
    text-transform: uppercase;
}

.c15 {
    display: block;
    line-height: 1em;
    font-weight: 800;
    font-size: 4.5em;
}

/*
CSS Cuerpo general
 */
main {
    width: 1110px;
    min-height: 710px;
    margin: 0 auto 0px;
    padding-top: 10px;

}

.boletin {
    background-color: rgb(242, 232, 228);
}


/*
CSS Cuerpo Sintomas
 */
article {
    padding: 10px;
}

article a {
    text-decoration: none;
    border-bottom: dotted 1px;
    color: rgb(189, 55, 0);
}

article a:hover {
    color: rgb(0, 0, 0);
}

aside figure img {
    width: 300px;
}

/*
CSS COP26
 */
.maincop26 {
    margin-top: 35px;
    display: grid;
    grid-template-areas:
      "section section"
      "footer footer";
    grid-template-columns: 5fr 7fr;
    grid-gap: 120px;
}

h1 {
    margin-top: 65px;
}

aside h3 {
    margin-top: 13px;

}

aside p {
    line-height: 1.5em;
    margin-bottom: 15px;
}

section h2 {
    margin-bottom: 18px;

}

section p {
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 15px;
    hyphens: auto;
}

blockquote {
    border-left: solid 5px rgb(189, 55, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 25px;
    font-style: italic;
}

ol {
    margin-bottom: 30px;
}

ol li {
    font-size: 1.1em;
    margin-left: 30px;
    margin-bottom: 13px;
}

cite {
    font-weight: bold;
}

.resaltado {
    font-weight: 600;
}

/*
CSS Pie de página
 */
footer {

    width: 100%;
    display: block;
    height: 260px;
    margin: 0;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 1.2em;
}


footer nav, footer div {
    margin: 0 auto;
    width: 1110px;
}

footer div {
    padding-top: 30px;
}

footer div p {
    line-height: .7;
}

footer nav ul {
    margin: 0;
    padding-top: 55px;
    list-style: none;

}

footer nav ul li {
    display: inline;
    margin-right: 7px;
}

footer ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer ul li a:hover {
    color: rgb(189, 55, 0);
}

.footmenu li:after {
    margin-left: 5px;
    content: ' \2022';
}

.footmenu li:last-child:after {
    content: '';
}

footer nav ul.redes {
    margin: 0;
    padding-top: 35px;
    list-style: none;
}

footer nav ul.redes li {
    margin: 0;
}

.twitter {
    padding: 12.5px;
    background-image: url("../images/twitter.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
}

.youtube {
    padding: 12.5px;
    background-image: url("../images/youtube.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}

.instagram {
    padding: 12.5px;
    background-image: url("../images/instagram.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
}

.twitter:hover, .youtube:hover, .instagram:hover {
    opacity: .7;
}


@media screen and (max-width: 1110px) {
    /*
    CSS cabacera
     */
    header {
        margin: 0 auto;
    }

    header, main, footer {
        width: 100%
    }
}

@media screen and (max-width: 800px) {

    /*
    CSS cabacera
    */

    .contlogo {
        margin: 0 auto;
        width: 100%;
    }
    .superior{
        padding-top: 10px;
        line-height: 1.5em;
        padding-bottom: 20px;
    }

    .superior ul {
        display: inline-block;
        width: 100%;
        font-size: 1em;
    }

    nav.superior ul li {
        display: block;
        text-align: center;
    }


    .noplanb {
        margin: 30px auto 0;
        font-size: .8em;
        text-align: center;
    }

    .c15 {
        text-align: center;
        line-height: 1em;
        font-size: 3.5em;
    }

    h1 {
        margin-top: 50px;
        font-size: 1.5rem;
        text-align: center;
    }
    h2 {
        font-size: 1.3rem;
    }
    /*
CSS COP26
 */
    .maincop26 {
        margin-top: 35px;
        display: block;
        padding: 0 30px;

    }

    /*
    CSS Pie de página
     */
    footer {

        display: block;
        line-height: 1.3em;
        height: 380px;
        margin: 0;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        font-weight: lighter;
        font-size: 1.2em;

        text-align: center;
    }


    footer nav, footer div {
        margin: 0 auto;
        width: 75%;
    }

    footer div {
        padding-top: 25px;
    }

    footer div p {
        line-height: 1.4em;
    }


    footer nav ul li {
        display: block;
    }

    .footmenu li:after {
        content: '';
    }

    footer nav ul.redes li {
        display: inline;
        margin: 0;
    }
}

