/*
CSS general
Tenemos como criterio de diseño "mobile first"
 */

/*
Se importan las fuentes a utilizar
 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,800;1,400&display=swap');
/*
Se anulan los márgenes y los padding de todos los elementos
Se utiliza el modelo alternativo de cajas
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sew determina la fuente a usar, el espaciodo entre lineas, el color y el fondo general de la página

 */
body {
    font-family: Raleway, sans-serif;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    background-color: rgb(244, 244, 244);
}

/* Se determina el interlineado de las cabeceras

 */
h1, h2, h3 {
    line-height: 1.1em;
}
/*
Estilos generales para la cabecera h1
 */
h1 {
    margin: 50px 0 10px;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
}
/*
Estilos generales para la cabecera h2
 */
h2 {
    font-weight: 600;
    font-size: 1.2rem;
}
/*
Estilos generales para la cabecera h3
 */
h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
}
/*
Estilos generales para la párrafo
 */
p {
    font-size: 1rem;
    margin-bottom: 1rem;
}
/*
Estilos generales básicos para enlaces
 */
a {
    text-decoration: none;
    color:rgb(0,0,0);
}
.enlace{
    color: rgb(189,55,0);
}
/*
Resaltado de texto
 */
.resaltado {
    font-weight: 800;
}
/*
enlaces de "leer más", "más info" según se determina en el enunciado
 */
.leermas{
    color: rgb(189,55,0);
    font-weight:600;
    padding-bottom: 5px;
    border-bottom: dotted 1px;
}
/*
CSS cabacera
 */
/*
CSS del header que contiene el lema y el logo
 */
header {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
/*
Márgenes para el logo (este es un texto)
 */
.contlogo {
    margin-top: 30px;
    margin-bottom: 30px;
}
/*
CSS para el lema
 */
.noplanb {
    display: block;
    line-height: 1.1em;
    text-transform: uppercase;
    margin: 10px auto 0;
    font-size: .8em;
    text-align: center;
}
/*
CSS para el logo
 */
.c15 {
    display: block;
    line-height: 1em;
    font-weight: 800;
    text-align: center;
    font-size: 3.5em;
}
/* Para el menuú de navehación se usa

 */
nav {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    padding-bottom: 20px;
    z-index: 1000;
}

nav ul {
    width: 100%;
    margin: 0px auto 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 800;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    color: rgba(0, 0, 0, 0.5);
}

nav ul li a.actual {
    color: rgb(189, 55, 0);
}



/*
 CSS Pie de página
  */
footer {
    width: 100%;
    display: block;
    padding:5px 20px 20px 20px;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 1.2em;
    text-align: center;
}


footer nav {
    padding: 0;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
line-height: 1.2em;
    background-color: rgb(0, 0, 0);
}

footer div {
    display: inline-block;
    margin: 0 auto;
    width: 100%;


    background-color: rgb(0, 0, 0);

}

footer div p {
    font-size: 1em;
    line-height: 1.4em;
}
footer nav{}
footer nav ul {
    margin: 0;
    padding-top: 55px;
    list-style: none;
    font-weight: 400;
    font-size: 1em;
    text-transform: none;
}

footer nav ul li {
    display: block;
}

footer ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

footer ul li a:hover {
    color: rgb(189, 55, 0);
}



footer nav ul.redes {
    padding: 40px 0 20px;
    list-style: none;
}

footer nav ul.redes li {
    display: inline;
    margin: 0;
}
/*
Se configura la apariencia de los enlaces a redes sociales del menú del footer.
También su comportamiento en caso de poner el puntero encima del enlace
 */

.twitter {
    padding: 12.5px;
    background-image: url("../images/twitter.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
}

.youtube {
    padding: 12.5px;
    background-image: url("../images/youtube.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}

.instagram {
    padding: 12.5px;
    background-image: url("../images/instagram.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
}

.twitter:hover, .youtube:hover, .instagram:hover {
    opacity: .7;
}

/* CSS Cuerpo */
/*
Se añade la separación que tiene que haber entre la página y el borde de la pantalla del dispositivo móvil
 */
main{
    padding:20px;
}
/* index

 */
.principal h1{
    background-image: url("../images/bg-hero-home.jpg");
    background-repeat: no-repeat;
    background-size: 600px;
    color: white;
    padding: 75px 0 75px 20px;
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1.5em;
    text-align: left;
}







/* Síntomas
Se pone el ancho de la sección, la separación entre el borde y el contenido, las esquinas redondeadas el color del fondo y la separación con el elemento inmediatamente inferior
*/
section.sintomas {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
}
.videos h1 {
    margin: 30px 0 10px;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
}
.sintomas figure img {
    max-width:100%;
}
/*
Se determina el ancho máximo de la imagen
 */
.videos h1 {
    margin: 30px 0 10px;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
}

figure.video{
    background-color: white;
    margin-bottom: 25px;
}
.video-fluid {
    position:relative;

padding: 0;

    max-width: 100%;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: white;

}

.video-fluid-item {
    position:absolute;top:0;left:0;width:100%; height:100%;
    border: none;
}
.video-fluid::before {
    display: block;
    content: "";
    padding-top: 56.25%;
}
figcaption{
    font-size: 1em;
    text-align: center;
    padding: 10px 0;
}
cite {
    font-weight: 800;
}

/*
COP 26
 */
h2.resultados{
    padding: 30px 0 20px;
}

ol{
  padding-left: 20px;
}
ol li{
    margin-bottom: 20px;
}
blockquote {
    border-left: solid 5px rgb(189, 55, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 25px;
    font-style: italic;
}



